body {
     margin: 0;
}
.product-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    border: 3px solid green;
    margin: 2px;
}
.product-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    /*background-color: #D9D9D9;*/
}